/* ------------------------------------------------------------------------- */
/* Sections */
/* ------------------------------------------------------------------------- */
#cheatsheet .section-container {
    border: 8px solid;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /*font-family: Arial;*/
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: 8px;
    page-break-inside: avoid;
}

#cheatsheet .section-content {
    border-radius: 8px;
    margin-top: 0;
    background-color: white;
    border-color: inherit;
    font-size: inherit;
    padding: 8px 8px 2%;
}

#cheatsheet .section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
    font-size: 16pt;
}

#cheatsheet .float-right {
    float: right;
}

#cheatsheet .section-subtitle, #cheatsheet #modal-reference {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

#cheatsheet #modal-reference {
    margin-top: 1em;
}

#cheatsheet .section-row {
    font-size: inherit;
}

#cheatsheet .section-row:before, #cheatsheet .section-row:after {
    display: table;
    content: " ";
    clear: both;
}

#cheatsheet .section-row + .section-subtitle {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Items */
/* ------------------------------------------------------------------------- */

#cheatsheet .item {
    margin-bottom: 8px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
}

#cheatsheet .item-icon {
    float: left;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

#cheatsheet .item-title {
    font-weight: bold;
    font-size: inherit;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

#cheatsheet .item-desc {
    font-style: italic;
    font-size: inherit;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

#cheatsheet .item-text-container {
    flex: 1;
    padding-right: 4px;
    font-size: inherit;
    height: 100%;
    width: 100%;
}


/* ------------------------------------------------------------------------- */
/* Colors */
/* ------------------------------------------------------------------------- */
#cheatsheet #section-movement, #cheatsheet #section-movement .item-icon {
    background-color: maroon;
    border-color: maroon;
}

#cheatsheet #section-movement .text {
    color: maroon;
}

#cheatsheet #section-action, #cheatsheet #section-action .item-icon {
    background-color: black;
    border-color: black;
}

#cheatsheet #section-action .text {
    color: black;
}

#cheatsheet #section-bonus-action, #cheatsheet #section-bonus-action .item-icon {
    background-color: indigo;
    border-color: indigo;
}

#cheatsheet #section-bonus-action .text {
    color: indigo;
}

#cheatsheet #section-reaction, #cheatsheet #section-reaction .item-icon {
    background-color: DarkOliveGreen;
    border-color: DarkOliveGreen;
}

#cheatsheet #section-reaction .text {
    color: DarkOliveGreen;
}

#cheatsheet #section-condition, #cheatsheet #section-condition .item-icon {
    background-color: FireBrick;
    border-color: FireBrick;
}

#cheatsheet #section-condition .text {
    color: FireBrick;
}

#cheatsheet #section-environment, #cheatsheet #section-environment .item-icon {
    background-color: ForestGreen;
    border-color: ForestGreen;
}

#cheatsheet #section-environment .text {
    color: ForestGreen;
}


/* ------------------------------------------------------------------------- */
/* Page container */
/* ------------------------------------------------------------------------- */

#cheatsheet body {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ------------------------------------------------------------------------- */
/* Misc */
/* ------------------------------------------------------------------------- */

#cheatsheet .hidden {
    display: none;
}

#cheatsheet ul {
    padding-left: 20px;
}

#cheatsheet p, #cheatsheet hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#cheatsheet hr {
    border: 0px;
    border-top: 1px solid gray;
}

#cheatsheet p:first-child {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Modal */
/* ------------------------------------------------------------------------- */
#cheatsheet .modal-open {
    overflow: hidden;
}

#cheatsheet .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

#cheatsheet .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    display: none;
}

#cheatsheet .modal-visible {
    display: block;
}

#cheatsheet .modal-dialog {
    position: relative;
    width: auto;
    margin: 8px;
}

#cheatsheet .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #888;
    opacity: .75;
    overflow: hidden;
}

#cheatsheet .modal-container {
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

#cheatsheet .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


/* ------------------------------------------------------------------------- */
/* Viewport sizes */
/* ------------------------------------------------------------------------- */

/* Smart phone, portrait */
@media (min-width: 0px) and (max-width: 479px) {
    #cheatsheet .fontsize {
        font-size: 12pt;
    }

    #cheatsheet .iconsize {
        width: 44px;
        height: 44px;
    }

    #cheatsheet .itemsize {
        /*height: 44px;*/
        width: 100%;
        line-height: 1;
    }

    #cheatsheet .modalsize {
    }
}

/* Smart phone, landscape */
@media (min-width: 480px) and (max-width: 767px) {
    #cheatsheet .fontsize {
        font-size: 11pt;
    }

    #cheatsheet .iconsize {
        width: 40px;
        height: 40px;
    }

    #cheatsheet .itemsize {
        /*height: 40px;*/
        width: 49.5%;
        line-height: 1;
        margin-right: 0.5%;
    }

    #cheatsheet .modalsize {
    }
}

/* Tablet, portrait */
@media (min-width: 768px) and (max-width: 991px) {
    #cheatsheet .fontsize {
        font-size: 11pt;
    }

    #cheatsheet .iconsize {
        width: 40px;
        height: 40px;
    }

    #cheatsheet .itemsize {
        /*height: 60px;*/
        width: 32.5%;
        line-height: 1;
        margin-right: 0.5%;
    }

    #cheatsheet .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Tablet, landscape */
@media (min-width: 992px) and (max-width: 1199px) {
    #cheatsheet .fontsize {
        font-size: 12pt;
    }

    #cheatsheet .iconsize {
        width: 44px;
        height: 44px;
    }

    #cheatsheet .itemsize {
        /*height: 44px;*/
        width: 32.5%;
        line-height: 1;
        margin-right: 0.5%;
    }

    #cheatsheet .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Small desktop screen */
@media (min-width: 1200px) and (max-width: 1599px) {
    #cheatsheet .fontsize {
        font-size: 12pt;
    }

    #cheatsheet .iconsize {
        width: 44px;
        height: 44px;
    }

    #cheatsheet .itemsize {
        /*height: 60px;*/
        width: 24.5%;
        line-height: 1;
        margin-right: 0.5%;
    }

    #cheatsheet .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Large desktop screen */
@media (min-width: 1600px) {
    #cheatsheet .fontsize {
        font-size: 12pt;
    }

    #cheatsheet .iconsize {
        width: 44px;
        height: 44px;
    }

    #cheatsheet .itemsize {
        /*height: 60px;*/
        width: 19.5%;
        line-height: 1;
        margin-right: 0.5%;
    }

    #cheatsheet .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Print */
@media print {
    #cheatsheet .fontsize {
        font-size: 10pt;
    }

    #cheatsheet .iconsize {
        width: 36px;
        height: 36px;
    }

    #cheatsheet .itemsize {
        height: 36px;
        width: 33%;
    }

    #cheatsheet .modalsize {
    }
}

